.eventBtn,
.resetBtn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background-color: $primary;
    border: none;
    border-radius: 32px;
    padding: 16px 40px;
    width: 128px;
    height: 48px;
    margin-top: 32px;
    transition: transform .15s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.15);
    }
}

.eventBtn {
    @media (max-width: 986px) {
        position: relative;
        left: 50%;
        transition: none;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%) scale(1);
        }
    }
}

.resetBtn {
    visibility: hidden;
    position: absolute;
    left: 60%;
    top: 25%;

    @media (max-width: 1086px) {
        left: 65%;
    }

    @media (max-width: 986px) {
        transform: translateX(-50%);
        transition: none;
        left: 50%;
        top: 50%;

        &:hover {
            transform: translateX(-50%) scale(1);
        }
    }
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    right: 70px;
    top: 46px;
    width: 24px;
    height: 24px;

    &:after,
    &:before {
        content: '';
        height: 24px;
        left: 11px;
        border-left: 2px solid #000;
        position: absolute;
    }

    &:after {
        transform: rotate(45deg);
    }

    &:before {
        transform: rotate(-45deg);
    }

    @media (max-width: 986px) {
        right: 40px;
        top: 35px;
    }
}