@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "_colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: $dark;
}

.main-module {
    background-color: #fff;
}

.main-module--img-hero {
    position: absolute;
    top: 96px;
    left: 230px;
    width: 505px;
    height: 330px;
}

.main-module--content {
    position: absolute;
    left: 830px;
    top: 136px;
    width: 380px;
    height: 250px;

}

.main-module--content h1 {
    font-size: 42px;
    font-weight: 700;
}

.main-module--content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.eventButton,
.resetButton {
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    background-color: $primary;
    border: none;
    border-radius: 32px;
    padding: 16px 40px;
}

.eventButton:hover,
.resetButton:hover {
    cursor: pointer;
}

.resetButton {
    visibility: hidden;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(18, 18, 18, 0.5);
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    width: 920px;
    height: 210px;
    z-index: 2;
    padding: 50px;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    right: 46px;
    top: 30px;
    font-size: 24px;
    font-weight: 800;
}

.popup.active {
    display: block;
}

.content.active {
    transition: all 800 ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}